.header {
    @include shadow;
    @include flex-center;
    height: 60px;
    padding-bottom: 20px;

    &__logo h1 {
        font-size: 2.4rem;
        font-family: "shrikhand";
    }

    i {
        font-size: 1.6rem;
        width: 20%;
    }

    &__bloc {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &__element {
            width: 97%;
        }

    }


}

.icon_bloc {
    width: 100%;
}

@media all and (min-width: 768px) {

    .header {

        &__logo h1 {
            font-size: 2.6rem;
        }
    }
}