.menu__section__image {
    height: 200px;
    width: 100%;

    & img {
        height: 120%;
        width: 100%;
        object-fit: cover;
    }
}

.section__menu {
    background-color: rgb(240, 240, 240);
    border-radius: 30px 30px 0 0;
    height: 1300px;
    padding-bottom: 100px;
    margin-top: -10px;
    position: relative;

    & .heart__icon {
        position: absolute;
        right: 30px;
        top: 35px;
        font-size: 2rem;
    }

    & .heart__icon_anime {
        font-size: 1.95rem;
        position: absolute;
        right: 0px;
        transform: scale(0);
        transition: transform 0.5s ease-out;
        transform-origin: bottom;
        color: $color-primary;

    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__h2 {
        font-size: 1.65rem;
        padding-top: 40px;
        padding-left: 20px;
        padding-bottom: 20px;
        font-weight: normal;
        font-family: 'Shrikhand';
    }

    &__name {
        padding-left: 20px;
        font-size: 1.1rem;
    }

    &__dish {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        border-radius: 15px;
        height: 70px;
        padding-left: 20px;
        @include shadow;
        background-color: white;
        margin: 10px 10px 10px 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }
}

.bloc_menu_dish {
    width: 100%;
}

.dish__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.dish__comment__price {
    display: flex;
    width: 95%;
    justify-content: space-between;
    text-overflow: ellipsis;
}


.dish__name {
    font-weight: bold;
    font-size: 1.2rem;
    text-overflow: ellipsis;
}

.dish__price {
    font-size: 1.1rem;
    font-weight: bold;
    text-overflow: ellipsis;
}

.command__btn {
    display: flex;
    padding-top: 50px;
    padding-bottom: 130px;
    justify-content: center;
}

.underline {
    border: 2px solid $color-tertiary;
    width: 40px;
    margin-top: 10px;
    margin-bottom: -10px;
}

// Desktop + tablettes

@media all and (min-width: 768px) {
    .section__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: unset;
        margin-top: unset;

        & .heart__icon {
            right: 80px;
            top: 50px;
        }
    
        
    }

    .menu {
        align-items: center;
        width: 50%;

        &__h1 {
            padding-top: unset;
            padding-bottom: unset;
            font-size: 1.90rem;
        }

        &__name {
            padding-left: unset;
            margin-bottom: 10px;
            margin-top: 20px;
        }

        &__dish {
            &:active {

                & .dish__comment__price {
                    width: 78%;
                }
            }
        }
    }

    .dish__type {
        width: 60%;
        min-width: 500px;
    }

    .underline {
        margin-top: 5px;
        margin-bottom: unset;
    }

    .command__btn {
        padding-bottom: unset;
    }
}