.check {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    margin: auto;
    top: 700px;
    left: 0;
    bottom: 0;
    right: 0;

    animation: spin 3s linear infinite;
}

.fa-check {
    z-index: 2;
    color: red;
    font-size: 3rem;
}



.bloc-check {
    width: 90px;
    height: 100%;
    background-color: #15DEA5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.8s ease-out;

    & .icon_check {
        position: unset;
        font-size: 2rem;
        color: #FFF;
        // animation: spin 0.7s linear 1;
        transform: rotate(0deg);
        transition: 0.7s linear;

    }
    
}


.menu {
    .dish__comment__price {
        transition: 0.7s ease-out;
    }
    
    &__dish { 
        
        &:hover {
            & .bloc-check {
                transform: translateX(0);
                & .icon_check {
                    // animation: spin 0.7s linear 1;
                    transform: rotate(360deg);
                    transition: 0.7s linear;
                    font-size: 2rem;
                    color: #FFF;
                    position: unset;

                }
            }

            & .dish__comment__price {
                width: 78%;
            }
        }
    }
}





// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }


.card {
    &__content {
        & .heart__icon {
            font-size: 1.6rem;
            position: absolute;
            right: 20px;
            & .heart__icon_2 {
                font-size: 1.6rem;
                position: absolute;
                right: 0px;
                transform: scaleY(0);
                transition: transform 0.5s ease-out;
                color: $color-primary;
            
        }
        &:hover { 
                color: $color-primary;
            
            & .heart__icon_2 {
            transform: scaleY(1);
            transition: 0.5s linear;
            color: $color-primary;
            }
        }
        
            
        }
        
    }

}