button {
    height: 55px;
    width: 240px;
    background: linear-gradient(to top, $color-primary, $color-secondary);
    border-radius: 40px;
    border: 0;
    color: white;
    font-size: 1.1rem;
}