.card {
    display: flex;
    flex-direction: column;
    height: 260px;
    border-radius: 25px;
    margin-top: 20px;
    @include shadow;
    max-width: 650px;

    &__image {
        height: 70%;
        border-radius: 25px 25px 0 0;
        position: relative;

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 25px 25px 0 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 0 25px 25px;
        margin-left: 15px;
        height: 30%;
        font-size: 1.1rem;
        position: relative;

        & h4 {
            margin: 0 0 10px 0;
            font-size: 1.2rem;
        }

        & .heart__icon {
            font-size: 1.6rem;
            position: absolute;
            right: 20px;
            transform: scaleY(1);
        }


    }
}

@keyframes remplissage {
    0% {}

    100% {}
}

.new {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 40);
    width: 90px;
    height: 20px;
    text-align: center;
    padding: 5px 0 5px 0;
    border-radius: 3px;
    font-weight: bold;
}

@media all and (min-width: 992px) {
    .card {
        min-width: 280px;
    }
}