.place_banner {
    @include flex-center;
    align-items: center;
    height: 50px;
    margin-top: 1px;
    background-color: rgb(233, 233, 233);

    & i {
        font-size: 1.1rem;
    }

    .place_banner__bloc {
        @include flex-center;
        width: 175px;
        position: relative;
        &__text {
            font-size: 1.2rem;
            padding-left: 20px;
        }
    }
}

.place_banner__bloc__icon {
    position: absolute;
    top: 2px;
    left: 0;
}
