.cards__section {
    background-color: rgb(248, 248, 248);
    height: auto;
    margin-top: 70px;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;

    &__h2 {
        font-size: 1.7rem;
    }
}

.restaurants__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    position: relative;
    flex-direction: column;
}


a {
    width: 100%;
}

// Desktop

@media all and (min-width: 992px) {
    .cards__section {
        padding-bottom: 200px;

        &__h2 {
            font-size: 1.8rem;
        }
    }

    .restaurants__list {
        flex-direction: unset;
        flex-wrap: wrap;

        a {
            width: 20%;
            min-width: 280px;
        }
    }


}

@media all and (min-width: 768px) and (max-width: 992px) {
    .cards__section {
        padding-bottom: 100px;

        &__h2 {
            font-size: 1.8rem;
            padding-left: 50px;
        }
    }

    .restaurants__list {
        flex-direction: unset;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    a {
        width: 35%;
        min-width: 280px;
    }
}