.cards__section {
    background-color: rgb(248, 248, 248);
    height: auto;
    margin-top: 70px;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    &__h2 {
        font-size: 1.7rem; 
    }
}
.restaurants__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    position: relative;
    flex-direction: column;
}

    
a {
    width: 100%;
}
@media all and (min-width: 992px) {
    .cards__section {
        padding-bottom: 200px;
    }
    .restaurants__list {
        flex-direction: unset;
    }
        
    a {
        width: 20%;
    }
}