
.place_banner {
    background-color: red;
    display: flex;
    justify-content: center;
    }
    .place_banner__bloc{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: blue;
        &__icon {
        background-color: red;
        }
        &__text {
        background-color: green;
        }
    }