
.place_banner {
    @include layout-header;
    background-color: red;
    }
    .place_banner__bloc{
        @include layout-header;
        width: 50%;
        background-color: blue;
        &__icon {
        background-color: red;
        }
        &__text {
        background-color: green;
        }
    }