// Animation appearance menus
.menu {
    &__name {
        animation: animation__name 1s ease-in;
    }

    &__dish {
        animation: move__dish 0.8s both ease-in alternate;

        @for $i from 1 through $dish__number {

            &--#{$i} {
                animation-delay: $dish__delay * $i;

            }

        }
    }
}

@keyframes move__dish {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes animation__name {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
    }
}

// Animation check menu


.check {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    margin: auto;
    top: 700px;
    left: 0;
    bottom: 0;
    right: 0;

    animation: spin 3s linear infinite;
}

.fa-check {
    z-index: 2;
    color: red;
    font-size: 3rem;
}

.bloc-check {
    width: 90px;
    height: 100%;
    background-color: #15DEA5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.8s ease-out;

    & .icon_check {
        position: unset;
        font-size: 2rem;
        color: #FFF;
        // animation: spin 0.7s linear 1;
        transform: rotate(0deg);
        transition: 0.7s linear;

    }

}

.menu {
    .dish__comment__price {
        transition: 0.7s ease-out;
    }

    &__dish {

        &:hover {
            & .bloc-check {
                transform: translateX(0);

                & .icon_check {
                    // animation: spin 0.7s linear 1;
                    transform: rotate(360deg);
                    transition: 0.7s linear;
                    font-size: 2rem;
                    color: #FFF;
                    position: unset;

                }
            }

            & .dish__name {
                width: 75%;
            }

            & .dish__comment__price {
                width: 75%;
            }
        }
    }
}


// Animation heart menus top


.heart__icon {
    &:hover {
        color: $color-primary;

        & .heart__icon_anime {
            transform: scale(1);
            transform-origin: bottom;
            transition: 0.4s linear;
            color: $color-primary;
        }
    }
}