$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;


$color-button: linear-gradient(to top, $color-primary, $color-secondary);
$color-button-light: linear-gradient(to top, lighten($color-primary, 5), lighten($color-secondary, 5));



$color-bars: #15DEA5;
$color-bars-inv: #0E397F;
$num-bars: 4;
$width-bar: 30px;
$anim-delay-test: calc(1000ms / $num-bars);


$dish__delay: 130ms;
$dish__number: 10;